.App {
  text-align: center;
  height: 100vh;
  padding: 5%
}

.header {
  text-align: left;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.header_name{
  margin-top: auto;
  font-weight: 700;
  font-size: 2.8rem;
}

.header_detail{
  margin-bottom: auto;
  font-weight: 500;
  color: rgb(85, 85, 85);
}

.handle{
  font-weight: 500;
  color: rgb(85, 85, 85);
  font-size: small;
  margin-left: 0.3rem;
}
.social_icon{
  width: 12px;
  height: 12px;
  text-align: right;
}
.follower_section, .metric_section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.follower_card {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  width: 16rem;
  background-color: rgb(245, 245, 245);
  padding: 2rem 0rem;
  margin: 1rem;
  border-radius: 3%;
}

.count_container {
  display: grid;
  align-items: center;
}

.follower_count {
  margin-top: auto;
  font-weight: 700;
  font-size: 2.7rem;
}

.follower_subtext{
  margin-bottom: auto;
  font-size: medium;
  font-weight: 300;
}

.change{
  margin: 0.5rem 3rem 0 0;
  text-align: right;
}

.change_count_pos{
    font-weight: 500;
    color: rgb(47, 184, 20);
    font-size: small;
    margin-left: 0.3rem;
}

.change_count_neg {
    font-weight: 500;
    color: rgb(184, 20, 20);
    font-size: small;
    margin-left: 0.3rem;
}
.overview_header{
  text-align: left;
  margin-top: 0.5rem;
  color: rgb(85, 85, 85);
  font-weight: 700;
  font-size: 1.8rem;
}
.metric_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  width: 16rem;
  background-color: rgb(245, 245, 245);
  padding: 2rem 0rem;
  margin: 1rem;
  border-radius: 3%;
}

.metric_name{
  font-weight: 500;
  color: rgb(85, 85, 85);
  font-size: small;
  text-align: left;
  margin-left: 2rem;
}

.metric_count {
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  margin-left: 2rem;
}